<!DOCTYPE html>
<html ng-app="NoteWrangler">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Lee Sharma">

    <title>Note Wrangler</title>

    <!-- Vendor -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../assets/styles/vendor/bootstrap-theme.css" />
    <!-- App Styles -->
  </head>

  <body>
    <h1>Hello, World!</h1>
    <p>Risus proin. Neque porta. Risus neque tristique. Morbi proin nunc aliquet diam feugiat etiam metus. Netus vitae eni vestibulum parturient. Fames nulla risus turpis. Curae porta. Fusce etiam amet a lorem id lacus dis dictum torquent mus pede. Ipsum augue mauris at sagittis hac euismod. Metus lacus. Porta fames sociis velit odio hendrerit rutrum. Netus fusce tincidunt integer nam eleifend dolor dictumst habitasse duis. Proin nulla maecenas habitasse quam urna auctor at tempor cubilia. Nulla risus lacinia ad dictum vivamus laoreet felis eni neque cursus cubilia sed. Purus fusce cursus at molestie conubia feugiat metus diam tellus mi tortor. Metus donec velit turpis auctor sit nisi quis accumsan sodales. Neque risus condimentum nisi habitasse sollicitudin. Class purus. Velit lorem urna et. Risus dolor aliquam augue ve libero nam ornare accumsan. Metus fusce auctor morbi. Fames lacus.</p>

    <!-- Core JavaScript
    ================================================== -->
    <!-- Vendor -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script type="text/javascript" src="https://code.angularjs.org/1.3.15/angular-route.min.js"></script>
    <script type="text/javascript" src="https://code.angularjs.org/1.3.15/angular-resource.min.js"></script>
    
    <!-- Directives -->
    <!-- Controllers -->
    <!-- Services -->
    <!-- App -->
    <!--============================================== -->
  </body>
</html>